node_modules/
node_modules/.pnpm/

# Optional cache directory
.npm
.swc

# Environment files
.env*

# Build output
build/
dist/

# Logs
logs/
npm-debug.log*
pnpm-debug.log*
*.log

# IDE files
.vscode/
.cursor/
.vercel
